<mat-card>
  <mat-input-container>
    <input style="width: 350px" matInput placeholder="First Name">
  </mat-input-container>
  <mat-input-container>
    <input style="width: 350px" matInput placeholder="Last Name">
  </mat-input-container>
  <mat-input-container>
    <input style="width: 350px" type="email" matInput placeholder="Email">
  </mat-input-container>
  <mat-input-container>
    <input style="width: 350px" type="password" matInput placeholder="Password">
  </mat-input-container>
  <mat-input-container>
    <input style="width: 350px" type="password" matInput placeholder="Confirm Password">
  </mat-input-container>
</mat-card>
